@import url('//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

body {
  padding-top: 7em;
}

.no-topbar {
  padding-top: 10px;
}

.navbar {
  background-color: #FF6600;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand::before {
  content: "openHAB - Frontail";
  font-size: 150%;
  padding-right: 30px;
}

.btn-pause {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%237f8289' viewBox='0 0 8 8'><path d='M1 1v6h2v-6h-2zm4 0v6h2v-6h-2z'></path></svg>") no-repeat center center;
  background-color: #e2e6ea;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  width: 34px;
  border: 1px solid transparent;
}

.btn-pause.play {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%237f8289' viewBox='0 0 8 8'><path d='M1 1v6l6-3-6-3z'></path></svg>") no-repeat center center;
  background-color: #e2e6ea;
}

.form-control {
  color: #a0a0a0;
}

.log {
  white-space: pre-wrap;
  color: #505050;
  font-size: .95em;
  background: inherit;
  border: 0;
  padding: 0;
}

.log .inner-line {
  padding: 0 15px;
  margin-left: 288pt;
  text-indent: -288pt;
  margin-bottom: 0;
}

.log .inner-line:empty::after {
  content: '.';
  visibility: hidden;
}

.log.no-indent .inner-line {
  margin-left: 0;
  text-indent: 0;
}

.log .line-selected {
  background-color: #e0e0e0;
}
